.carousel-container {
    margin: 0 auto;

    ul {
        padding: 0
    }

    /**/
    .carousel .thumb.selected,
    .carousel .thumb:hover {
        border: 3px solid hsl(26, 100%, 55%);
    }

    .carousel .control-arrow,
    .carousel.carousel-slider .control-arrow {
        opacity: 10;
    }

    .carousel-item {
        img {
            border-radius: 20px;
        }
    }

    img {
        border-radius: 20px;
        cursor: pointer;

    }
}